<!-- articles/index.html.erb -->
<div class="container w-100">
  <div class="row">
    <!--カテゴリ選択-->
    <div class="col-md-3 select-category">
      <div class="profile-image mb-3">
        <!--<img src="/komugiko.png" alt="プロフィール画像" class="img-fluid">-->
        <%= image_tag('komugiko.png')%>
        <h5 class="text-center">admin: komugiko</h5>
        <p>プログラミングの勉強過程での備忘録として，ブログをつけていこうと思います．</p>
      </div>
      <ul class="list-group">

        <%= link_to "All", articles_path, class: "list-group-item list-group-item-action" %>


        <% @categories.each do |category| %>

            <%= link_to category.name, articles_path(current_category: category.id), class: "list-group-item list-group-item-action" %>
            <% if logged_in? %>
              <%= link_to category, method: :delete, class: "ml-1 delete-icon", data: { confirm: '本当に削除してよろしいですか?' } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>

        <% end %>
        

          <%= link_to "未分類", articles_path(current_category: "Unselected"), class: "list-group-item list-group-item-action" %>
          <%#= link_to "カテゴリ無し", articles_path %>

      </ul>
    </div>
    
    <!--記事一覧-->
    <div class="col-md-9 article-contents">
      <% @articles.each do |article| %>
        <div class="row border mb-1">
          <div class="col-md-2 eye-catch">
            <%= link_to (image_tag article.image_url(:thumb)), article_path(article)  %>
          </div>
          <div class="col-md-8 mt-1">
            <p>タイトル：<%= article.title %></p>
            <p>最終更新：<%= article.updated_at.to_s(:datetime_jp) %> 記事作成：<%= article.created_at.to_s(:datetime_jp) %></p>
            <p>カテゴリ：
              <% if article.category %>
                <%= article.category.name %>
              <% else %>
                未分類
              <% end %>
            </p>
          </div>
          
          <div class="col-md-2 edit-icon">
            <% if logged_in? %>
              <a href=<%= edit_article_path(article) %>><i class="fa fa-edit"></i> 編集</a><br>
              <%= link_to article, method: :delete, class: "ml-1", data: { confirm: '本当に削除してよろしいですか?' } do %>
                <i class="fa fa-trash"></i> 削除
              <% end %>
            <% end %>
          </div>
          
        </div><!--/row-->
      <% end %>
      <%= paginate @articles %>
    </div>
  </div>

</div>