<h1>users/new</h1>

<%= form_with(model: @user, local: true) do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>
  
  <div>
    <%= f.label :name, 'user_name' %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password, 'password' %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'check-password' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit 'ユーザ新規作成', class: 'btn btn-primary' %>


<% end %>