<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio Bootstrap 4 Template">
    <meta name="author" content="YoshihiroUto">

    <!-- Site Title -->
    <title>MyPortfolio</title>
    

    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    
    <!-- Vue.js -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    

  </head>

  <!--body-->
  <body>
    <% url = request.fullpath %>
    <% if url != root_path and logged_in? %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
    
    <%= yield %>
    

    <!-- Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <!-- / Core JavaScript -->
    
    <!-- preloader -->
    <!-- / preloader -->
    
    <!-- Smooth Scrolling -->
    <!-- / Smooth Scrolling -->
    
    <!-- menu-toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <!-- / menu-toggle Script -->
    
    <!-- Portfolio Script -->
    <script>
      $(document).ready(function(){
        if (Modernizr.touch) {
          // show the close overlay button
          $(".close-overlay").removeClass("hidden");
          // handle the adding of hover class when clicked
          $(".img").click(function(e){
            if (!$(this).hasClass("hover")) {
              $(this).addClass("hover");
            }
          });
          // handle the closing of the overlay
          $(".close-overlay").click(function(e){
            e.preventDefault();
            e.stopPropagation();
            if ($(this).closest(".img").hasClass("hover")) {
              $(this).closest(".img").removeClass("hover");
            }
          });
        } else {
          // handle the mouseenter functionality
          $(".img").mouseenter(function(){
            $(this).addClass("hover");
          })
          // handle the mouseleave functionality
          .mouseleave(function(){
            $(this).removeClass("hover");
          });
        }
      });
    </script>
    <!-- / Portfolio Script -->
    
    <!-- contact form -->
    <!-- / contact form -->
    
    <!-- Hide Nav -->
    <!-- / Hide Nav -->

  </body>
  

</html>
